[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-rest-framework = "*"
django-cors-headers = "*"
pillow = "*"
django-braces = "*"
selenium = "*"
webdriver-manager = "*"
thefuzz = "*"

[dev-packages]

[requires]
python_version = "3.9"
